/* pre defenicoes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  overflow: hidden;

}

:root {
    --color-primary: #006CD2;
    --color-secundary: #001D3D;
    --color--accent: #F8AC30;
    --color-background: #FFF;
    --colot-background2: #000D1C;
    --colot-text: #000;
    --gradient-default: linear-gradient(to right, #000 30%, #000, 70%);
    --gradient-titleHero: linear-gradient(to bottom, #FFF 20%, #000D1C 75%); 
}
/* inicio header*/
header{
position: fixed;    
  top: 0;             
  left: 0;
  width: 100%;         
  background-color: #000D1C; 
  z-index: 1000;     
  color: #fff;
  
}
.logo img{
    width: 180px;
   

}
@media (max-width: 770px) {
  header {
    background-color: #000D1C;
  }

  header * {
    display: none;
  }
}

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
     
    
}
nav .navContent{

    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 70px;
    margin-right: 50px;
    
}
.navContent a{
text-decoration: none;
color: #fff;
}
.navContent {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    
}
.navContent p:hover,
.navContent a:hover {
  color: #6bb8ff;
  transition: 0.5s;
}

/* iniico corpo quiz*/ 
.inicio {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
    padding-top: 100px;
    text-align: center;
    color: var(--colot-text);
}

h2 {
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 20px;
}

#startBtn, #btn, #perguntas button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 0.3s ease;
}


#startBtn:hover,
#btn:hover {
    background-color: #0051a3; 
}


#perguntas button:hover {
    background-color: #797979;
}

#pergunta {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #fff;
}

#perguntas {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
    margin: 0 auto 30px;
}
#perguntas button {
    background-color: #cccccc;  /* fundo vermelho */
    color: #000;
    transition: background-color 0.3s ease;
}

#perguntas button.selected {
    background-color: var(--color-primary); /* vermelho mais escuro */
    color: white;
}
button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}


.video-bg {
  position: relative;
  height: calc(100vh - 100px); /* desconta o tamanho do header */
  width: 100%;
  overflow: hidden;
}

.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-bg .conteudo {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 2rem;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: #fff;
}
