/* pre defenicoes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
:root {
    --color-primary: #006CD2;
    --color-secundary: #001D3D;
    --color--accent: #F8AC30;
    --color-background: #FFF;
    --colot-background2: #000D1C;
    --colot-text: #000;
    --gradient-default: linear-gradient(to right, #000 30%, #000, 70%);
    --gradient-titleHero: linear-gradient(to bottom, #FFF 20%, #000D1C 75%); 
}
/* inicio conetudo header   */
header{
position: fixed;    
  top: 0;             
  left: 0;
  width: 100%;         
  background-color: #000D1C; 
  z-index: 1000;     
  color: #fff;
  padding: 30px;
  
}
nav{
    display: flex;
    justify-content: space-between;
    
}
nav .navContent{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
.navContent p{
    font-size: 22px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
@media (max-width: 720px) {

}
/* inicio hero */
.hero{
    background-color: #000D1C;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
      padding: 0;
    
}
.hero h2{
     height: 550px;
    font-family: "Georama", sans-serif;
    font-weight: 800;
    transform: translateX(-1%);
  background: var(--gradient-titleHero);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* necessário no Chrome e Safari */
  background-clip: text;
  color: transparent;
font-size: clamp(0px, 23vw, 480px);
margin-left: 20px;
  height: auto; 
  margin-bottom: 150px;


 
 text-align: center;
}
@media (max-width: 820px) {
    .hero h2{
        font-size: 150px;
        margin-bottom: 250px;
}
.assideHero2 img{
    margin: auto;
    margin-left: 40px;
    
}
}
.heroContent{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
   height: 100%;
   
    
}
.assideHero1{
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
   
   
}
.assideHero1 p{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.assideHero1 button{
    background-color: var(--color-primary);
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    width: fit-content; 
    cursor: pointer;

}

.assideHero2 img{
    width: 400px;
    object-fit: contain; 
    box-shadow: #000;
    margin-right: 100px;


    
}

@media (max-width: 600px) {
  .assideHero2 img {
    height: auto;
    width: 260px;
    height: auto;
    margin: 0 auto;
  }
.assideHero1{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 5px;
}
.assideHero1 p{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.hero h2{
    font-family: "Georama", sans-serif;
    font-weight: 800;
    transform: translateX(-1%);
  background: var(--gradient-titleHero);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* necessário no Chrome e Safari */
  background-clip: text;
  color: transparent;
font-size: clamp(30px, 8vw, 85px);
 letter-spacing: 5px;
margin-bottom: clamp(50px, 15vh, 150px);
font-size: clamp(10px, 23vw, 450px);
 text-align: center;
    height: auto; 
}
.assideHero1 button{
    background-color: var(--color-primary);
    outline: none;
    border: none;
    padding: 8px 25px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

}
/* inicio prevencao*/